



  
* {
box-sizing: border-box;
}

body {
background: #d2b098;

margin: 2em;
color: #804719;

}

.img-container {
	display: grid;
	grid-template-columns: .8fr 1fr;
	
	gap: 1em;

}





.img-container > img:nth-child(odd) {
	
	align-self: center;
	
}
.img-container > img:nth-child(odd) {
	//border: 10px solid rgb(185, 185, 185);
	
	
}

img {
	width: 100%;
}


.tall {
	/* width: max-content; */
	justify-self: center;
	/* width: auto; */
	/* width: 100%; */
	max-width: 100%;
	width: inherit;
}


.quote {
	font-family: 'IM Fell English', serif;
	align-self: center;
	text-align: center;
	padding: 0.8em;
	text-shadow: 5px 5px 7px #ffe7d6;
		
}


footer {
	
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	font-size: 1.2em;
}

.title-container {
	text-align: center;
	padding-bottom: 2em;
}

.title {
	font-size: 3em;
	font-family: 'Jacques Francois', serif;
	color: #4b2a0f;
	border-bottom: 4px solid #4b2a0f;
	margin-bottom: 0;
}

.sub-title {
	font-size: 1.2em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


