* {
box-sizing: border-box;
}
body {
background-color: #ccc;
margin: 2em;
color: rgb(128, 71, 25);

}

.img-container {
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	gap: 1em;
	
}

.img-container > img:nth-child(odd) {
	//border: 2px solid red;
	align-self: center;
}

img {
	width: 100%;
}

.tall {
	width: max-content;
	justify-self: center;
}

.quote {
	font-family: 'IM Fell English', serif;
	align-self: center;
	text-align: center;
	padding: 0.8em;
	
		
}


footer {
	
	padding-top: 2em;
	text-align: center;
	font-size: 1.2em;;
}

.title-container {
	text-align: center;
	padding-bottom: 2em;
}

.title {
	font-size: 3em;
	font-family: 'Jacques Francois', serif;
	color: rgb(75, 42, 15);
}

.sub-title {
	font-size: 1.2em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}