@media (max-width: 768px) {
  
    body {
        
        margin: 0.5em;
        
        
        }

	.img-container {
		display: block;
		text-align: center;
	
    }

    img {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .tall {
        width: 100%;
        
    }

    .quote {
        font-family: 'IM Fell English', serif;
        align-self: center;
        text-align: center;
        padding: 0;
        
            
    }

    footer {
	
        padding-top: 0;
        
    }


    .title {
        font-size: 2em;
        letter-spacing: 0.1em;
        
    }
    
    .sub-title {
        font-size: 1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
	
}